
@media screen and (max-width: 767px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #profile,
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .arrow {
    display: none;
  }
  .about-containers {
    margin-top: 0;
    flex-wrap: wrap;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #profile {
    height: auto;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
  }
}


@media screen and (min-width: 1024px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}
